<div *ngIf="beer">

  <div class="beers-container">
    <div>
      <img mat-card-image src={{beer.image_url}} alt={{beer.name}}>
    </div>

    <div class="content">
      <mat-card-header class="title">
        <input type="hidden" class="id" value={{beer.id}}>
        <mat-card-title>{{beer.name}}</mat-card-title>
        <mat-card-subtitle>{{beer.tagline}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><span>First brewed:</span> {{beer.first_brewed}}</p>

        <p>
          {{beer.description}}
        </p>
        <p>
          <span>Brewers tips:</span> {{beer.brewers_tips}}
        </p>
        <p><span>Food pairing:</span> {{beer.food_pairing}}</p>
      </mat-card-content>


      <div class="example-button-row">
        <div class="example-flex-container">

          <div class="example-button-container">
            <button mat-mini-fab aria-label="Favorite" color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="gray" aria-label="Share">
              <mat-icon>share</mat-icon>
            </button>
          </div>
          <!-- <div class="example-button-container">
            <button mat-mini-fab color="primary" aria-label="Add to shopping basket">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div> -->

        </div>
      </div>

    </div>
  </div>


</div>
