<div class="container">
  <div class="example-button-row ">
    <div class="example-flex-container">

      <div class="example-button-container">
        <button mat-mini-fab aria-label="mail" color="warn">
          <mat-icon>mail</mat-icon>
        </button>
        <p>beers@mail.com</p>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="gray" aria-label="Phone">
          <mat-icon>phone</mat-icon>
        </button>
        <p>999 999 999</p>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Home">
          <mat-icon>home</mat-icon>
        </button>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 40000-000, Portugal. </p>
      </div>

    </div>
  </div>
  <app-form></app-form>

</div>
