.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  width: 90vw;
  height: 70vh;
}
.example-button-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem 0;

}
