<mat-card>
  <form [formGroup]="messageForm" (ngSubmit)="Submit()">
    <mat-form-field class="fullwidth">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="jaime fraser" formControlName="name" required>
      <!-- <mat-error *ngIf="name.touched" || submitted>{{getErrorMessageName()}}</mat-error> -->
      <mat-error *ngIf="name.touched|| submitted">Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="fullwidth">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>

      <mat-error *ngIf="email.invalid || submitted">Email is required</mat-error>
    </mat-form-field>

    <mat-form-field class="fullwidth">
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="message"></textarea>
      <mat-error *ngIf="message.touched ||submitted ">Message is required</mat-error>
      <mat-error *ngIf="message.errors?.['minlength']">The message needs at least 10 characters</mat-error>
      <mat-error *ngIf="message.errors?.['maxlength']">Write a message less than 100 characters</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button>Send</button>
  </form>




  <div *ngIf="messageForm.valid && submitted" class="message">
    <a mat-button (click)="closeMessage()"> <mat-icon>close</mat-icon></a>
    <mat-card class=" example-card card-message">

      <h3>Thank you for your message!</h3>
      <p>We answer as soon as possible</p>

      <mat-card-content>
        <span>Name:</span>
        {{messageForm.value.name}}
      </mat-card-content>
      <mat-card-content>
        <span>E-mail:</span>
        {{messageForm.value.email}}
      </mat-card-content>
      <mat-card-content>
        <span>Message:</span>
        {{messageForm.value.message}}
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
