<mat-card>
  <form>
    <mat-form-field class="fullwidth">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="jaime fraser" required>
      <!-- <input matInput placeholder="pat@example.com" [formControl]="name" required> -->
      <!-- <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="fullwidth">
      <mat-label>Enter your email</mat-label>
      <!-- <input matInput placeholder="pat@example.com" [formControl]="email" required> -->
      <input matInput placeholder="pat@example.com" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="fullwidth">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button>Send</button>
  </form>
</mat-card>