form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 80vw;

  button {
    width: 100%;
    background-color: black;
    color: white;
  }
  button:hover {
    background-color: #d9a208;
  }
  .mat-form-field {
    width: 100%;
  }
}
