<div *ngIf="beers" class="beers-container">
  <div *ngFor="let beer of beers">
    <mat-card class="example-card" color="secondary">
      <mat-card-header class="test">
        <!-- <input type="hidden" class="id" value={{beer.id}}> -->
        <mat-card-title class="title">{{beer.name}}</mat-card-title>
        <mat-card-subtitle>{{beer.tagline}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{beer.image_url}} alt={{beer.name}}>
      <button mat-raised-button (click)="showProduct(beer.id!)">Read more</button>
    </mat-card>
  </div>
</div>
