<div class="card">
  <img src="assets\img1.jpg" alt="beer factory">
  <div class="content">
    <h3>Our history</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
  </div>
</div>

<div class="card flex-reverse">
  <img src="assets\img2.jpg" alt="beer factory">

  <div class="content">

    <h3>Our factory</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
  </div>

</div>

<div class="card">
  <img src="assets\img3.jpg" alt="beer factory">
  <div class="content">
    <h3>Our family</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius nihil ab impedit laborum beatae soluta ut
      deleniti laudantium dolorem, facilis provident doloremque quibusdam quod est adipisci fugit sunt tempora!</p>
  </div>
</div>