.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3em;
  margin: 5rem auto;
  padding: 5rem auto;
  width: 80vw;

  img {
    width: 80vw;
    max-width: 400px;
  }

  h3 {
    font-size: 1.3em;
    font-weight: 500;
  }
}

@media only screen and (min-width: 900px) {
  .flex-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .card {
    flex-wrap: nowrap;
  }
  .card img {
    width: 50vw;
  }
  
}
