.header-mat {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background: rgb(251, 212, 85);
  background: linear-gradient(118deg, #efc701 0%, #c9870c 95%);
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  padding-left: 1rem;
  color: black;
}

.banner {
  width: 100%;
}
.mat-drawer-container {
  position: absolute !important;
}
.mat-toolbar-single-row {
  background-color: transparent;
}

@media (max-width: 767px) {
  .full-menu {
    display: none;
  }
}

@media (min-width: 760px) {
  .example-container,
  .sidebar {
    display: none;
  }
}
